- theme ||= false
%head
  %title= browser_title(yield(:title))
  %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
  %meta{:charset => Refinery::Application.config.encoding}/
  = csrf_meta_tag
  -#= stylesheet_link_tag "application", "formatting", :theme => theme
  -#= stylesheet_link_tag "theme"
  = stylesheet_link_tag 'compiled/screen'
  -#= stylesheet_link_tag "home", :theme => theme if home_page?
  -#= "<!--[if IE 7]>#{stylesheet_link_tag 'ie7'}<![endif]-->".html_safe if request.env['HTTP_USER_AGENT'] =~ /MSIE/
  %link{:rel=>"stylesheet", :href=>"stylesheets/compiled/print.css", :media=>"print", :type=>"text/css"}
  <!--[if IE]>
  %link{:rel=>"stylesheet", :href=>"stylesheets/compiled/ie.css", :media=>"screen, projection", :type=>"text/css"}
  < ![endif]-->
  = "<meta name=\"keywords\" content=\"#{@meta.meta_keywords}\" />".html_safe if @meta.meta_keywords.present?
  = "<meta name=\"description\" content=\"#{@meta.meta_description}\" />".html_safe if @meta.meta_description.present?
  = yield :head_libraries
  = yield :head
  = auto_discovery_link_tag(:rss, news_items_url(:format => 'rss'))
