- if refinery_user?
  - unless admin? ## jquery scripts should already be cached when using the site bar as login has happened.
    - content_for :head, yield(:site_bar_assets) if (head ||= false)
    = yield(:site_bar_assets) unless head
  #site-bar
    #site-bar-container
      #site-bar-content.clearfix
        #editor-switch
          = site_bar_switch_link
        = link_to image_tag("#{"http://refinerycms.com/images/" unless local_request?}refinery/logo-site-bar.png", |
                    :alt => "Refinery (tm) Content Manager"),                                                      |
          'http://refinerycms.com',                                                                                |
          :target => '_blank',                                                                                     |
          :id => 'site-bar-refinery-cms-logo'                                                                      |
        #site-bar-branding
          %span#site-bar-company_name
            = RefinerySetting.find_or_set(:site_name, 'Company Name')
          = link_to t('.log_out'), logout_url(:only_path => true), |
            :id => 'logout'                                        |
