.box.large.border-top.border-bottom.no-content-margin
  %canvas.hide-for-non-javascript
  = image_tag '/images/cyt/home.png', :class => 'show-for-non-javascript'

= render :partial => "/shared/content_page", :locals => {:hide_sections => [:body_content_title, :body_content_right]}

.box.medium
  %h2.red
    = t('plugins.refinerycms_news.title')

  - news = home_news
  %ul.no-bullets
    - if news.any?
      - news.each do |item|
        %li.margin-bottom
          %h3
            = link_to item.title, news_item_url(item)
          %p
            %small
              = t('news_items.show.published')
              = l(item.publish_date, :format => :long)
          = truncate  item.body, :length => 200, :omission => " ... #{link_to t('news_items.index.read_more'), news_item_url(item)}", :preserve_html_tags => true

.box.medium.last
  %h2.red
    Twitter News
  - tweets = home_tweets
  - if tweets.any?
    %ul.no-bullets
      - tweets.each do |tweet|
        %li.margin-bottom
          %h3
            = link_to tweet.user_name, tweet.user_link
          %small
            = t('news_items.show.published')
            = l(tweet.created, :format => :long)
          %br
          = tweet.content

      %li
        = link_to t('news_items.index.read_more'), '/news/tweets'  
