!!! 5
%html{:xmlns => 'http://www.w3.org/1999/xhtml'}
  = render :partial => '/shared/head', :locals => {:theme => true}
  %body
    = render :partial => '/shared/site_bar'
    #container
      = render :partial => '/shared/header'
                 
      #content-column.large
        #content
          = yield

    - if refinery_user?
      - unless admin? ## jquery scripts should already be cached when using the site bar as login has happened.
        - content_for :site_bar_assets do
          = jquery_include_tags(:jquery_ui => false) unless exclude_jquery ||= false
          = javascript_include_tag('jquery/jquery.corner.js') unless exclude_cornering_library ||= false
          = javascript_include_tag('refinery/site_bar') unless exclude_site_bar_javascript ||= false
    = render(:partial => '/shared/html5_for_ie.js').html_safe if request.env['HTTP_USER_AGENT'] =~ /MSIE/
    = render :partial => 'shared/google_analytics' unless local_request?
    
